.experience-page-container {
    padding-top: 140px;
    background-color: var(--bg-secondary);
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100%;
    min-height: 100vh;
    transition: background-color 0.3s ease;
}