.project-page-container{
    padding-top: 140px;
    align-items: center;
    background-color: rgb(178, 174, 237);
    min-height: 100vh;
}
.heading{
    font-size: 2.5rem;
    font-weight: 600;
    margin-left: 5vw;
    font-family: 'baloo bhai 2', sans-serif;
    color:rgb(37, 9, 94)
}
